.git
.gitignore
.local
.replit
replit.nix
replit.md
attached_assets
node_modules
**/node_modules
artifacts/*/dist
lib/*/node_modules
scripts/node_modules
artifacts/mockup-sandbox
*.log
*.map
.env
.env.*
